<h1 id="count-me"> All those users </h1>

<% @users.each do |user| %>
  <p class="users-text"> <a class="main-links" href='users/<%=user.id%>'> <%= user.user_name %></a> | <%= user.first_name %> | <%= user.last_name %></p>
<% end %>
